body,
html,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  flex-wrap: wrap;
  gap: 20px;
}

.body-style span {
  font-size: clamp(20px, 3.5vw, 55px) !important;
}
.body-style span.lowWelcome {
  font-size: clamp(14px, 2.5vw, 25px) !important;
}
.body-style img {
  width: clamp(150px, 30vw, 380px) !important;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 600px) {
  .body-style {
    flex-direction: column;
    text-align: center;
  }

  .body-style li {
    width: 100%;
  }

  .body-style img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

@media (max-width: 768px) {
  .MuiGrid-root {
    text-align: center !important;
  }
}
