#root {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}
.body-style {
  display: flex;
  align-items: center;
  gap: 50px;
}

body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
}

.navbar {
  margin: 0;
  padding: 0;
}

.navbar ul {
  display: flex;
  gap: 30px;
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: 700;
}

.navbar ul li {
  margin: 0;
  padding: 0;
}

.navbar ul li:nth-child(2) {
  margin-left: auto;
}
